In [5]:
# square root function
num = 4
n = num ** 0.5
print(n)

2.0

In [20]:
for i in range(6, 1, -1):
    
    for j in range(i-1):
         print("J",end =' ')
    print()

J J J J J
J J J J
J J J
J J
J

In [17]:
#area of tringle
a, b, c = eval(input()),  eval(input()), eval(input())
# calculate the semi-perimeter
s = (a + b + c) / 2
# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print(area)
#tringle area
"""
1/2 b*h 
++++++++
to find sidde ab2=bd2+da2
# semeiperimetere(a+b+c)/2
herons formula
underroot(**0.5) of (s(s-a)(s-b)(s-c))

"""

5
6
7
14.696938456699069

'\n1/2 b*h \n\n++++++++\nto find sidde ab2=bd2+da2\n# semeiperimetere(a+b+c)/2\nherons formula\nunderroot(**0.5) of (s(s-a)(s-b)(s-c))\n\n'

In [21]:
"""swap two nun"""
a, b=2, 4,
print("Before :", a, b)
c_temp = a
a = b
b = c_temp
print("_Aftre :", a, b)

Before : 2 4
_Aftre : 4 2

In [25]:
import random
print(random.randint(0,9))
#random int print

7

In [36]:
#km to mile
kilometer = eval(input("Enter Kilometer to convert to mile : "))
to_mile = kilometer / 1.609
print(kilometer, "in mile is :", round(to_mile, 2))
#1 mile = 1.609 km

Enter Kilometer to convert to mile : 3.50
3.5 in mile is : 2.18

In [41]:
#odd _ even
number = int(input())
if number % 2 == 0 :
    print(f"Given number {number} is even.")
else:
    print(f"Given number {number} is odd.")

124
Given number 124 is even.

In [56]:
year = 1600
#leap year

if year % 400 == 0 and year % 100 == 0:
    print(f"{year} Year is LEAP year")
elif year % 4 == 0 and year % 100 !=0:
    print(f"{year} Year is LEAP year")
else:
    print(f"The giver year {year} is not leap year.")

1600 Year is LEAP year

In [62]:
#Celsius to - to Farenheight 
"""
c(9/5)+32
c_to_fahrenheit = celsius * 1.8 + 32
f_to_celsius = (fahrenheit - 32) / 1.8
"""
c = 37.5
to_f = c*(9/5)+32
print(c)

37.5

In [64]:
#positive negative number zero
num = -1
if num > 0:
    print("P")
elif num < 0:
    print("N")
else:
    print("Z")

N

In [81]:
#gtreater among three num
a, b, c = 10,14,12
if a >= b and a >= c:
    print(a)
elif b >= a and b >= c :
    print(b)
else:
    print(c)

14

In [9]:
store = []

In [12]:
for i in range(1,11):
    store.append(i ** 2)
print(store)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:

print(a, b)

0 1

In [22]:
a, b = 0, 1
while a<20:
    print (f'{a}', end=",")
    a, b =b, a+b

0,1,1,2,3,5,8,13,

In [34]:
words = ['cat', 'window', 'defenestrate']
s = [len(x) for x in (words)]
strr = zip(words, s)
print(dict(strr))

{'cat': 3, 'window': 6, 'defenestrate': 12}

In [1]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

In [20]:
for i in range (1,6,2):
    print(i)

1
3
5

In [22]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

In [27]:
for i in range(1,len(a)):
    print(i, a[i])

1 had
2 a
3 little
4 lamb

In [33]:
lst = [len(i) for i in a ]
print(dict(zip(a,lst)), end=''for

{'Mary': 4, 'had': 3, 'a': 1, 'little': 6, 'lamb': 4}

In [34]:
for x, y in lst.items():
    print(x, y)

AttributeError: 'list' object has no attribute 'items'

In [ ]:
while True:
    pass

In [3]:
#fibonacci
x, y = 0, 1
while x < 20:
    x, y= y, x+y
    print(x)

1
1
2
3
5
8
13
21

In [8]:
def fact(x, y):
    return x*y
def facts(x,y,z):
    return x*fact(y, z)
facts(2,3,4)

24

In [15]:
def add(a,b):
    return a+b
def addr(x,y):
    return x+ add(x,y)
addr(10,3)

23

In [16]:
def ff(n):
    result = []
    a, b = 0, 1
    while a <200:
        
        a, b= b, a+b
        result.append(a)
    return result
ff(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]

In [12]:
def facto(n):
    if n == 0:
        return 1
    else:
        f = 1
        for i in range(1, n+1):
            f *= i
        return f
facto(5)

120

In [12]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(f(3))

[3]

In [21]:
def lam(n):
    return lambda X: X + n

f = lam(6)
print(f(3))

9

In [41]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [45]:
#fruits.sort()
#fruits.reverse()
#fruits.pop(1)
#fruits.append("naval")
#fruits.count("apple")
fruits.remove("apple")
fruits

['orange', 'pear', 'banana', 'kiwi', 'banana']

In [54]:
a = {x for x in fruits if x in fruits}
print(a)

{'orange', 'banana', 'pear', 'kiwi'}

In [57]:
{x: x1 for x in range(10)}

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [71]:
for key, value in enumerate(fruits):
    print(f"[{key+1}] [{value.upper()}]")

[1] [ORANGE]
[2] [PEAR]
[3] [BANANA]
[4] [KIWI]
[5] [BANANA]

In [65]:
a= [lambda key, value: key value in enumerate(fruits)]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2321396482.py, line 1)

In [82]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
a= ['0ds','fg','grf','ds','gb','dfs','ds','gf']
for a, b in zip(fruits,a):
    print(f"{b}:{a}")

0ds:orange
fg:apple
grf:pear
ds:banana
gb:kiwi
dfs:apple
ds:banana

In [91]:
import fibo
fibo.fib(20)

ModuleNotFoundError: No module named 'fibo'

In [1]:
for x in range(1,110):
    print (f'{x}:{str(x+1).rjust(20)}')

1:                   2
2:                   3
3:                   4
4:                   5
5:                   6
6:                   7
7:                   8
8:                   9
9:                  10
10:                  11
11:                  12
12:                  13
13:                  14
14:                  15
15:                  16
16:                  17
17:                  18
18:                  19
19:                  20
20:                  21
21:                  22
22:                  23
23:                  24
24:                  25
25:                  26
26:                  27
27:                  28
28:                  29
29:                  30
30:                  31
31:                  32
32:                  33
33:                  34
34:                  35
35:                  36
36:                  37
37:                  38
38:                  39
39:                  40
40:                  41
41:                  42
42:                  43
43:                  44
44:                  45
45:                  46
46:                  47
47:                  48
48:                  49
49:                  50
50:                  51
51:                  52
52:                  53
53:                  54
54:                  55
55:                  56
56:                  57
57:                  58
58:                  59
59:                  60
60:                  61
61:                  62
62:                  63
63:                  64
64:                  65
65:                  66
66:                  67
67:                  68
68:                  69
69:                  70
70:                  71
71:                  72
72:                  73
73:                  74
74:                  75
75:                  76
76:                  77
77:                  78
78:                  79
79:                  80
80:                  81
81:                  82
82:                  83
83:                  84
84:                  85
85:                  86
86:                  87
87:                  88
88:                  89
89:                  90
90:                  91
91:                  92
92:                  93
93:                  94
94:                  95
95:                  96
96:                  97
97:                  98
98:                  99
99:                 100
100:                 101
101:                 102
102:                 103
103:                 104
104:                 105
105:                 106
106:                 107
107:                 108
108:                 109
109:                 110

In [2]:
f = open('workfile', 'w', encoding="utf-8")

In [89]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in reversed(basket):
    print(f, end=" ")

banana orange pear apple orange apple

In [1]:
while True:
    try:
        x = int(input("Enter Your : "))
        print(x)
        break
    except Exception as v:
        print("Try Again",v)

Enter Your : z
Try Again invalid literal for int() with base 10: 'z'
Enter Your : wqq
Try Again invalid literal for int() with base 10: 'wqq'
Enter Your : 1
1

In [7]:
class MyClass:
    """A simple example class"""
    i = 12345

    def f(self):
        return 'hello world'
x = MyClass()
print(x.f())

hello world

In [11]:
import sys
print(sys.argv)

['C:\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\shubh\\AppData\\Roaming\\jupyter\\runtime\\kernel-fcb7d7a7-9cf7-465a-9572-73d383af36ce.json']

In [19]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",tg.ban")

print(x)

rrttgg.....banana....rrr

In [23]:
# Start with an empty list
movie_collection = []

# Add some movies to the collection using the append() method
movie_collection.append("Movie 1") # Use your favourite movie names
movie_collection.append("Movie 2")
movie_collection.append("Movie 3")
movie_collection.append("Movie 4")
movie_collection.append("Movie 5")

# Print the current collection of movies
print("My Movie Collection:", movie_collection)
movie_collection.pop(4)
print("My Movie Collection:", movie_collection)
num_movies = len(movie_collection)
num_movies

My Movie Collection: ['Movie 1', 'Movie 2', 'Movie 3', 'Movie 4', 'Movie 5']
My Movie Collection: ['Movie 1', 'Movie 2', 'Movie 3', 'Movie 4']

4

In [43]:
# Define sets for fruits in each basket
basket1 = {'apple', 'banana', 'grape', 'orange'}
basket2 = {'banana', 'mango', 'pineapple', 'orange'}

both_baskets = basket1 - basket2, basket2 - basket1  # Replace x with appropriate method
print("Common fruits in both baskets:", common_fruits)

NameError: name 'common_fruits' is not defined

In [2]:
for x in range(1000,1234,-1):
    print(x%10)
    print(x//100)

In [7]:
expr = 10 + 20 * 30

print(expr)
# Precedence of 'or' & 'and'
name = "Alex"
age = 0

if name == "Alex" or name == "John" and age >= 2:
    print("Hello! Welcome.")
else:
    print("Good Bye!!")

610
Hello! Welcome.

In [21]:
a, b = 201, 20
print((b, a) [a < b])

2220

In [34]:
a, b = 201, 20
re= (lambda: b, lambda: a)[a < b]()

print(re)

20

In [5]:
fruits = list(range(1, 5+1))

iter_obj = iter(fruits)

while True:
    fruit = next(iter_obj)
    print(fruit)

1
2
3
4
5

StopIteration:

In [13]:
count = 0
while (count < 3):    

    print(count)
    count = count+1

else:
    print("No Break")

0
1
2
No Break

In [17]:
for letter in range(1,5):
  
  pass
print (f'Last Letter : {letter}')

Last Letter : 4

In [23]:
def myFun(x, y=50):
    print("x: ", x)
    print("y: ", y)

x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))
myFun(x, y)

Enter the value of x: 1
Enter the value of y:

ValueError: invalid literal for int() with base 10: ''

In [50]:
def myFun(**a):
    for k, v in a.items():
        print(f'{k}:{v}')

s = list(map(str, range(1, 10)))

sd = {key:value for key, value in zip(s,len(s))}
myFun(**sd)  # Pass the dictionary as keyword arguments

TypeError: 'int' object is not iterable

In [53]:
s = list(map(str, range(1, 10)))

# Create a dictionary where keys come from the list 's' and values are the length of 's'
sd = {key: len(s) for key in s}
myFun(**sd)

1:9
2:9
3:9
4:9
5:9
6:9
7:9
8:9
9:9

In [62]:
def myFun(*y):
    x = [20, 30, 40]
    x.extend(y)
    return x


lst = [10, 11, 12, 13, 14, 15]
r = myFun(*lst)
print(r)

[20, 30, 40, 10, 11, 12, 13, 14, 15]

In [44]:
s = list(map(str, range(1, 10)))
s = {key:value for key, value in zip(s,range(1,10))}

In [66]:
def swap(x, y):
	x = temp
	y = x
	temp = x


# Driver code
x = 23
y = 35
swap(x, y)
print(x)
print(y)

UnboundLocalError: cannot access local variable 'temp' where it is not associated with a value

In [2]:
def even(n):
    for num in n:
        if num % 2 == 0:
            yield num

n = list(range(1, 9))
for i in even(n):
    print(i)

2
4
6
8